= base-field
  font: $font-secondary
  color: $color-text-primary
  background-color: $color-background-primary
  border: none
    bottom: $border-bottom-input
  &:focus
    outline: none

= input-field
  width: 100%
  &::placeholder
    color: $color-placeholder
    opacity: 1 // Firefox
  &::-ms-input-placeholder // Edge 12 -18
    color: $color-placeholder
  &_size-s
    padding: $padding-input-size-s
  &_size-m
    padding: $padding-input-size-m
  
= input-icon
  color: #757575
  border-bottom: $border-bottom-input
  padding: 0 8px 8px 0

= disabled
  cursor: default
  opacity: 0.5
  +transition(opacity)

= selected
  color: $color-text-secondary
  background-color: $color-primary
  cursor: default
  &:hover
    background-color: $color-primary

= center-fixed
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

= flex-center
  display: flex
  justify-content: center
  align-items: center

= transition($property)
  transition: #{$property} 0.3s ease