$color-primary: #50B053
$color-header-label: #44A248
$color-text-primary: #333
$color-text-secondary: #fff
$color-page-header: #454545
$color-placeholder: #999
$color-background-primary: #fff
$color-input-border: #ccc
$color-disabled: #ccc
$color-error: #ff4d4f
$color-nav-btn-txt: #6C757D
$color-overlay: #000

$color-button-hover: darken($color-primary, 10%)
$color-button-active: darken($color-primary, 15%)
$font-family-primary: "Inter", "Arial", sans-serif
$font-family-secondary: "Roboto", "Arial", sans-serif
$font-primary: 1rem / 1.25 $font-family-primary
$font-secondary: 0.875rem / 1.45 $font-family-secondary
$font-page-header: 1.25rem / 1.2 $font-family-secondary
$border-bottom-input: 1px solid $color-input-border
$padding-input-size-s: 0 0 0.5rem 0
$padding-input-size-m: 0.5rem 0 0.75rem 0
$z-index-overlay: 10
$z-index-modal: calc($z-index-overlay + 10)
$z-index-popup: calc($z-index-modal + 10)